@media screen and (max-width: 2600px) and (max-height: 1400px) 
  .reg
    &__logo
      width: 580px
      height: 100px
    &__cup
      transform: scale(2)
      bottom: -500px
    &__text
      transform: scale(1.2)
      transform-origin: bottom
      margin-bottom: 400px
    &__footer
      font-size: 22px

@media screen and (max-width: 2560px) and (max-height: 1274px)
  .reg
    &__cup
      transform: scale(1.9)
      bottom: -420px
    &__text
      transform: scale(0.85)
      margin-bottom: 560px
      transform-origin: bottom

@media screen and (max-width: 2204px)
  .reg
    &__logo
      width: 430px
      height: 76px
    &__footer
      font-size: 18px
@media screen and (max-width: 2204px) and (max-height: 1080px)
  .reg
    &__cup
      transform: scale(2)
      bottom: -460px
    &__text
      margin-bottom: 460px
@media screen and (max-width: 2204px) and (max-height: 981px)
  .reg
    &__cup
      transform: scale(1.8)
    &__text
      transform: scale(0.85)
      margin-bottom: 270px
@media screen and (max-width: 1920px) and (max-height: 1080px)
  .reg
    &__cup
      bottom: -370px
      transform: scale(2.1)
      transform-origin: bottom
    &__text
      transform: scale(1)
      margin-bottom: 320px
@media screen and (max-width: 1920px) and (max-height: 1050px)
  .reg
    &__cup
      transform: scale(2)
    &__text
      transform: scale(0.9)
      transform-origin: bottom
      // margin-bottom: 400px
@media screen and (max-width: 1920px) and (max-height: 990px)
  .reg
    &__cup
      transform: scale(1.9)
    &__text
      transform: scale(0.85)
      margin-bottom: 270px
// @media screen and (max-width: 1920px) and (max-height: 950px)
@media screen and (max-width: 1920px) and (max-height: 950px)
  .reg
    &__text
      margin-bottom: 230px
@media screen and (max-width: 1707px) and (max-height: 1280px)
  .reg
    &__cup
      transform: scale(2.5)
      bottom: -390px
    &__text
      transform: scale(1)
      margin-bottom: 360px
@media screen and (max-width: 1707px) and (max-height: 901px)
  .reg
    &__cup
      transform: scale(2)
    &__text
      transform: scale(0.8)
      margin-bottom: 230px
@media screen and (max-width: 1707px) and (max-height: 830px)
  .reg
    &__cup
      transform: scale(1.95)
    &__text
      transform: scale(0.85)
      margin-bottom: 180px
@media screen and (max-width: 1707px) and (max-height: 790px)
  .reg
    &__logo
      transform: scale(0.9)
      transform-origin: top
    &__cup
      transform: scale(1.9)
    &__text
      transform: scale(0.8)
      margin-bottom: 170px
@media screen and (max-width: 1707px) and (max-height: 770px)
  .reg
    &__cup
      transform: scale(1.85)
    &__text
      margin-bottom: 150px
@media screen and (max-width: 1680px) and (max-height: 1050px)
  .reg
    &__cup
      transform: scale(2.2)
      bottom: -340px
    &__text
      transform: scale(0.9)
      margin-bottom: 300px
@media screen and (max-width: 1680px) and (max-height: 950px)
  .reg
    &__cup
      transform: scale(2.1)
      bottom: -340px
    &__text
      transform: scale(0.85)
      margin-bottom: 270px
@media screen and (max-width: 1600px) and (max-height: 900px)
  .reg
    &__logo
      transform: scale(0.9)
      transform-origin: top
    &__text
      margin-bottom: 230px
    &__footer
      font-size: 15px
      bottom: 12px
@media screen and (max-width: 1600px) and (max-height: 840px)
  .reg
    &__cup
      transform: scale(2)
      bottom: -340px
    &__text
      transform: scale(0.8)
      margin-bottom: 200px
@media screen and (max-width: 1600px) and (max-height: 790px)
  .reg
    &__cup
      transform: scale(1.9)
      bottom: -320px
    &__text
      transform: scale(0.75)
@media screen and (max-width: 1600px) and (max-height: 760px)
  .reg
    &__cup
      bottom: -340px
    &__text
      margin-bottom: 180px
@media screen and (max-width: 1536px) and (max-height: 864px)
  .reg
    &__text
      transform: scale(0.8)
      margin-bottom: 220px
@media screen and (max-width: 1536px) and (max-height: 840px)
  .reg
    &__text
      margin-bottom: 200px
      transform: scale(0.75)
@media screen and (max-width: 1536px) and (max-height: 790px)
  .reg
    &__text
      margin-bottom: 180px
@media screen and (max-width: 1536px) and (max-height: 760px)
  .reg
    &__text
      transform: scale(0.73)
      margin-bottom: 160px
@media screen and (max-width: 1512px) and (max-height: 823px)
  .reg
    &__text
      margin-bottom: 180px
@media screen and (max-width: 1512px) and (max-height: 790px)
  .reg
    &__text
      transform: scale(0.7)
      margin-bottom: 180px
@media screen and (max-width: 1512px) and (max-height: 760px)
  .reg
    &__text
      margin-bottom: 160px
@media screen and (max-width: 1512px) and (max-height: 690px)
  .reg
    &__cup
      transform: scale(1.85)
    &__text
      transform: scale(0.66)
      margin-bottom: 150px

@media screen and (max-width: 1470px) and (max-height: 770px)
  .reg
    &__text
      margin-bottom: 160px
@media screen and (max-width: 1470px) and (max-height: 760px)
  .reg
    &__cup
      bottom: -320px
@media screen and (max-width: 1470px) and (max-height: 700px)
  .reg
    &__logo
      transform: scale(0.85)
    &__cup
      bottom: -340px
    &__text
      margin-bottom: 140px
@media screen and (max-width: 1470px) and (max-height: 640px)
  .reg
    &__cup
      transform: scale(1.8)
    &__text
      margin-bottom: 115px

@media screen and (max-width: 1440px)
  .reg
    &::after
      height: 200px
    &__logo
      transform: scale(1)
      width: 408px
      height: 72px
    &__cup
      transform: scale(2.25)
      bottom: -310px
    &__text
      transform: scale(1)
      margin-bottom: 250px
    &__date, &__time
      font-size: 28px
      &.noios-padding
        padding: 5px 14px 0px 14px
    &__teams
      width: 408px
      margin: 15px 0 31px
      &--ua
        width: 408px
        margin-bottom: 35px
    &__welcome
      font-size: 39px
      &--en
        font-size: 44px
    &__up
      height: 75px
      font-size: 61px
      &.noios-padding
        padding-top: 14px
      &--en
        font-size: 56px
      &--small
        font-size: 30px
        &--en
          font-size: 28px
    &__fs
      font-size: 61px
      height: 75px
      &.noios-padding
        padding-top: 14px
      &--en
        font-size: 56px
      &::before
        width: 42px
        height: 37px
    &__footer
      font-size: 15px
      padding: 0 15px
      bottom: 15px

@media screen and (max-width: 1440px) and (max-height: 820px)
  .reg
    &__cup
      transform: scale(2.2)
      bottom: -330px
    &__text
      margin-bottom: 220px
@media screen and (max-width: 1440px) and (max-height: 780px)
  .reg
    &__cup
      transform: scale(2.1)
    &__text
      margin-bottom: 190px
@media screen and (max-width: 1380px) and (max-height: 960px)
  .reg
    &__cup
      transform: scale(2.5)
      bottom: -320px
    &__text
      margin-bottom: 270px
@media screen and (max-width: 1380px) and (max-height: 890px)
  .reg
    &__cup
      bottom: -340px
@media screen and (max-width: 1380px) and (max-height: 870px)
  .reg
    &__cup
      transform: scale(2.3)
      bottom: -320px
    &__text
      margin-bottom: 230px
      transform: scale(0.93)

@media screen and (max-width: 1380px) and (max-height: 780px)
  .reg
    &__cup
      transform: scale(2.1)
      bottom: -300px
    &__text
      transform: scale(0.9)
      margin-bottom: 190px
// @media screen and (max-width: 1380px) and (max-height: 770px)
@media screen and (max-width: 1380px) and (max-height: 720px)
  .reg
    &__cup
      transform: scale(2)
    &__text
      transform: scale(0.8)
      margin-bottom: 180px
@media screen and (max-width: 1380px) and (max-height: 670px)
  .reg
    &__cup
      transform: scale(1.9)
    &__text
      margin-bottom: 150px
@media screen and (max-width: 1380px) and (max-height: 640px)
  .reg
    &__logo
      transform: scale(0.9)
      margin-top: 30px
@media screen and (max-width: 1366px) and (max-height: 1024px)
  .reg
    &__cup
      transform: scale(2.7)
      bottom: -350px
    &__text
      transform: scale(1.1)
      margin-bottom: 290px
@media screen and (max-width: 1366px) and (max-height: 950px)
  .reg
    &__text
      transform: scale(1.1)
      margin-bottom: 300px
@media screen and (max-width: 1366px) and (max-height: 768px)
  .reg
    &__cup
      transform: scale(2.1)
      bottom: -290px
    &__text
      transform: scale(0.87)
      margin-bottom: 200px
@media screen and (max-width: 1366px) and (max-height: 730px)
  .reg
    &__cup
      transform: scale(2)
      bottom: -290px
    &__text
      transform: scale(0.83)
      margin-bottom: 180px
@media screen and (max-width: 1366px) and (max-height: 690px)
  .reg
    &__logo
      transform: scale(0.9)
      margin-top: 30px
    &__footer
      font-size: 13px
@media screen and (max-width: 1366px) and (max-height: 670px)
  .reg
    &__cup
      transform: scale(1.9)
      bottom: -270px
    &__text
      transform: scale(0.82)
      margin-bottom: 170px
@media screen and (max-width: 1366px) and (max-height: 640px)
  .reg
    &__cup
      bottom: -300px
    &__text
      margin-bottom: 145px
@media screen and (max-width: 1280px)
  .reg
    &::after
      height: 240px
    &__logo
      transform: scale(1)
      margin-top: 30px
      width: 338px
    &__cup
      transform: scale(2.1)
      bottom: -260px
    &__text
      transform: scale(1)
      margin-bottom: 200px
    &__date, &__time
      font-size: 23px
      padding: 0 10px
      &.noios-padding
        padding: 4px 10px 0px 10px
    &__teams
      width: 338px
      margin: 12px 0 35px
      &--ua
        width: 338px
        margin-bottom: 38px
    &__welcome
      font-size: 32px
      &--en
        font-size: 35px
    &__up
      height: 62px
      font-size: 50px
      &.noios-padding
        padding-top: 11px
      &--en
        font-size: 46px
      &--small
        font-size: 25px
        &--en
          font-size: 21px
          letter-spacing: normal
    &__fs
      font-size: 50px
      height: 62px
      &.noios-padding
        padding-top: 11px
      &--en
        font-size: 46px
      &::before
        width: 34px
        height: 30px
    &__footer
      font-size: 12px


@media screen and (max-width: 1280px) and (max-height: 1706px)
  .reg
    &__cup
      transform: scale(3.7)
      bottom: -440px
    &__text
      transform: scale(1.4)
      margin-bottom: 1180px
@media screen and (max-width: 1280px) and (max-height: 860px)
  .reg
    &__cup
      transform: scale(2.4)
      bottom: -290px
    &__text
      transform: scale(1.1)
      margin-bottom: 240px
@media screen and (max-width: 1280px) and (max-height: 800px)
  .reg
    &__cup
      transform: scale(2.2)
      bottom: -270px
    &__text
      transform: scale(1)
      margin-bottom: 220px
@media screen and (max-width: 1280px) and (max-height: 710px)
  .reg
    &__cup
      transform: scale(2.1)
      bottom: -260px
    &__text
      transform: scale(1)
      margin-bottom: 200px
@media screen and (max-width: 1280px) and (max-height: 680px)
  .reg
    &__cup
      transform: scale(2)
      bottom: -260px
    &__text
      transform: scale(0.9)
      margin-bottom: 180px
@media screen and (max-width: 1280px) and (max-height: 640px)
  .reg
    &__cup
      transform: scale(1.9)
      bottom: -260px
    &__text
      transform: scale(0.87)
      margin-bottom: 160px
@media screen and (max-width: 1280px) and (max-height: 600px)
  .reg
    &__cup
      transform: scale(1.8)
      bottom: -250px
    &__text
      transform: scale(0.86)
      margin-bottom: 140px
@media screen and (max-width: 1259px) and (max-height: 1024px)
  .reg
    &__cup
      transform: scale(2.8)
      bottom: -330px
    &__text
      transform: scale(1.3)
      margin-bottom: 270px
@media screen and (max-width: 1259px) and (max-height: 1032px)
  .reg
    &__cup
      transform: scale(3)
      bottom: -350px
    &__text
      transform: scale(1.3)
      margin-bottom: 310px
@media screen and (max-width: 1210px) and (max-height: 760px)
  .reg
    &__cup
      transform: scale(2.5)
      bottom: -290px
    &__text
      transform: scale(1.05)
      margin-bottom: 230px
@media screen and (max-width: 1210px) and (max-height: 715px)
  .reg
    &__cup
      transform: scale(2.1)
      bottom: -240px
    &__text
      transform: scale(0.9)
      margin-bottom: 195px
@media screen and (max-width: 1205px) and (max-height: 585px)
  .reg
    &__cup
      transform: scale(1.9)
      bottom: -230px
    &__text
      transform: scale(0.85)
      margin-bottom: 165px
@media screen and (max-width: 1200px) and (max-height: 720px)
  .reg
    &__cup
      transform: scale(2.2)
      bottom: -240px
    &__text
      transform: scale(0.9)
      margin-bottom: 220px
@media screen and (max-width: 1194px) and (max-height: 760px)
  .reg
    &__cup
      transform: scale(2.5)
      bottom: -290px
    &__text
      transform: scale(1.05)
      margin-bottom: 230px
@media screen and (max-width: 1180px) and (max-height: 820px)
  .reg
    &__cup
      transform: scale(2.5)
      bottom: -290px
    &__text
      transform: scale(1)
      margin-bottom: 230px
@media screen and (max-width: 1138px) and (max-height: 712px)
  .reg
    &__text
      margin-bottom: 200px
@media screen and (max-width: 1133px) and (max-height: 672px)
  .reg
    &__cup
      transform: scale(2.4)
    &__text
      margin-bottom: 180px
@media screen and (max-width: 1120px) and (max-height: 834px)
  .reg
    &__text
      transform: scale(1.1)
      margin-bottom: 220px
@media screen and (max-width: 1120px) and (max-height: 820px)
  .reg
    &__cup
      transform: scale(2.8)
      bottom: -300px
    &__text
      transform: scale(1.1)
      margin-bottom: 240px
@media screen and (max-width: 1120px) and (max-height: 768px)
  .reg
    &__cup
      transform: scale(2.4)
      bottom: -250px
    &__text
      transform: scale(1)
      margin-bottom: 210px
@media screen and (max-width: 1080px) and (max-height: 707px)
  .reg
    &__text
      transform: scale(0.95)
      margin-bottom: 195px
@media screen and (max-width: 1032px) and (max-height: 1302px)
  .reg
    &__cup
      transform: scale(3.3)
      bottom: 10px
      margin-left: 30px
    &__text
      margin-bottom: 860px
      transform: scale(1.1)
@media screen and (max-width: 1032px) and (max-height: 1257px)
  .reg
    &__cup
      transform: scale(3.3)
      bottom: 0px
      margin-left: 20px
    &__text
      margin-bottom: 840px
      transform: scale(1)
@media screen and (max-width: 1042px) and (max-height: 834px)
  .reg
    &__cup
      bottom: -270px
    &__text
      transform: scale(1)
      margin-bottom: 240px
@media screen and (max-width: 1024px) 
  .reg
    &__logo
      transform: scale(1)
      width: 338px
    &__cup
      transform: scale(2.35)
      margin-left: 0
      bottom: 0
    &__text
      transform: scale(1)
      margin-bottom: 280px
    
@media screen and (max-width: 1024px) and (max-height: 1368px)
  .reg
    &__cup
      transform: scale(3.3)
      bottom: 10px
      margin-left: 30px
    &__text
      margin-bottom: 900px
      transform: scale(1.1)
@media screen and (max-width: 1024px) and (max-height: 1292px)
  .reg
    &__text
      margin-bottom: 830px
@media screen and (max-width: 1024px) and (max-height: 770px)
  .reg
    &__logo
      transform: scale(1)
      width: 290px
    &__cup
      transform: scale(2.2)
      margin-left: 0
    &__text
      transform: scale(1)
      margin-bottom: 230px
@media screen and (max-width: 1024px) and (max-height: 720px)
  .reg
    &__cup
      bottom: -20px
    &__text
      margin-bottom: 200px
@media screen and (max-width: 1024px) and (max-height: 690px)
  .reg
    &__cup
      transform: scale(2.1)
    &__text
      transform: scale(0.95)
      margin-bottom: 190px
@media screen and (max-width: 1024px) and (max-height: 660px)
  .reg
    &__cup
      transform: scale(2)
      bottom: -30px
    &__text
      margin-bottom: 160px
@media screen and (max-width: 1024px) and (max-height: 600px)
  .reg
    &__cup
      transform: scale(1.9)
      bottom: -30px
    &__teams
      margin-bottom: 20px
    &__text
      transform: scale(0.9)
      margin-bottom: 160px