.wrapper
  .reg
    .reg__text
      picture
        source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/text-512-ua.png")
        source(media="(max-width: 1024px)" srcset="img/text-512-ua.png")
        source(media="(max-width: 1280px)" srcset="img/text-640-ua.png")
        source(media="(max-width: 1440px)" srcset="img/text-720-ua.png")
        source(media="(min-width: 1441px)" srcset="img/text-960-ua.png")
        img(src="img/text-640-ua.png" alt="main text")
    .reg__sam
      picture
        source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/sam-512.png")
        source(media="(max-width: 1024px)" srcset="img/sam-512.png")
        source(media="(max-width: 1280px)" srcset="img/sam-640.png")
        source(media="(max-width: 1440px)" srcset="img/sam-720.png")
        source(media="(min-width: 1441px)" srcset="img/sam-960.png")
        img(src="img/sam-640.png" alt="sam")
